.vscode
config.ini
*.pyc
.DS_Store
__pycache__
instance/*
output*.json
*.gz
.envrc
out/
/storage/
scan.json
app/settings.toml
cache/
tea/
t.py
.venv
.cache/
*.wav
*.flac
*.mp4
*.jpg
/botyo-6d3e4-8fe6b39d2267.json